<div class="col-md-8 offset-md-2">
	<div class="card row">
	  <div class="card-header bg-dark text-light">
	    Login
	  </div>
	  <div class="card-body">
      <form class="form-group">
      <!-- error/success messages -->
      <div class="input-group mb-3">
        <div class="alert alert-warning" style="width: 100%;" *ngIf='errorMessage != null'>{{errorMessage}}</div>
        <div class="alert alert-success" style="width: 100%;" *ngIf='successMessage != null'>{{successMessage}}</div>
      </div>
      <!-- username -->
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
			  </div>
			  <input type="text" name="username" [(ngModel)]="username" placeholder="Username" class="form-control">
      </div>
      <!-- password -->
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></span>
			  </div>
			  <input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="form-control">
			</div>

			<div class="form-group">
        <button (click)="handleLogin()" class="btn btn-custom" style="width: 100%;">Login</button>
        <div *ngIf="sending" style="text-align: center;" class="mt-2">
          <app-loading-spinner></app-loading-spinner>
          <p>Logging in...</p>
        </div>
      </div>
      </form>
      <div class="text-center">
        <a [routerLink]="['/register']">Register a new account.</a>
      </div>
    </div>
  </div>
</div>
