<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
  <div class="row">
      <div class="col-md-6">
          <form class="form-inline">
              <div class="form-group">
                  <label for="connect">WebSocket connection:</label>
                  <button (click)="connect()" class="btn btn-primary m-1" type="submit" [disabled]="this.connected">Connect</button>
                  <button (click)="disconnect()" class="btn btn-warning m-1" type="submit" [disabled]="!this.connected">Disconnect
                  </button>
              </div>
          </form>

      </div>
      <div class="col-md-6">
          <form class="form-inline">
              <div class="form-group">
                  <label for="name">What is your name?</label>
                  <input type="text" [(ngModel)]="name" class="form-control m-1" name="name"> <br>
              </div>
              <!--Add click event here if you want to send data to websocket-->
              <button class="btn btn-info m-1" type="submit" [disabled]="!this.connected">Send</button>
          </form>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Message: {{greetingValue}}</p>
    </div>
  </div>

</div>
