<div
  class="piece-container"
  [ngClass]="{
    'grab': isActive()
  }"
  cdkDrag
  [cdkDragDisabled]="!isActive()"
  (cdkDragStarted)="onDragStart($event)"
  (cdkDragEnded)="onDragEnd($event)"
  cdkDragBoundary=".board-container"
  >
  <img src="{{this.getPieceUrl()}}"
    [ngStyle]="{'width': piece.size + '%', 'height': piece.size + '%'}"
    [ngClass]="{'white': (piece.colour != null && piece.colour == 'White' && piece.name.startsWith('SHO'))}"
    draggable="false"
    matTooltip="{{this.getPieceName() + ' : [' + piece.colour + ']'}}"
    [matTooltipShowDelay]="500">
    <div class="" *cdkDragPlaceholder></div>
</div>

