<div
  class="square square-visible"
  [ngClass]="{
    'squareVisibleEven': squareVisible() && indexValue % 2 == 0,
    'squareVisibleOdd': squareVisible() && indexValue % 2 != 0,
    'activeSquare': squareVisible() && square.active,
    'dangerSquare': squareVisible() && square.danger,
    'currentSquare': squareVisible() && square.current,
    'checkSquare': squareVisible() && square.inCheck,
    'hover': squareVisible() && hasActivePiece() && !square.current && !square.inCheck
  }">
  <span class="square-content align-middle"
    cdkDropList
    cdkDropListSortingDisabled
    [cdkDropListData]="square"
    (cdkDropListDropped)="drop($event)">
    <app-piece
      *ngIf="square.piece != null"
      [piece]="square.piece"
      [position]="square.position"
      [game]="game"></app-piece>
  </span>
</div>
