hello
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let column of columns" scope="col" style="text-align: center;">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of data">
      <th *ngFor="let dataElement of dataRow" scope="row" style="text-align: center;">{{dataElement}}</th>
      <!-- <td style="text-align: center;">
        <button class="btn btn-info" style="width: 100%;" (click)="joinGameById(joinGame.gameId)">Join Game</button>
      </td> -->
    </tr>
  </tbody>
</table>
