.header {
  border-bottom: 3px solid orange;
}

.navbar a {
  color: rgb(255, 72, 0);
}

.navbar a:active {
  color: rgb(255, 172, 139);
}

.navbar a:hover {
  color: rgb(255, 172, 139);
}

.navbar a:focus {
  color: rgb(255, 72, 0);
}

.activeLink {
  color: rgb(255, 72, 0);
  font-weight: bold;
}
