<h1>Available Games</h1>
<div *ngIf="loading">
  <app-loading-spinner
    [message]="loadingMessage">
  </app-loading-spinner>
</div>
<div *ngIf="!loading">
  <div *ngIf="joinGames.length > 0">
    <app-custom-table
      [columns]="['Game ID', 'Type', 'Player', 'Action']">
      <tr *ngFor="let joinGame of joinGames">
        <th scope="row" style="text-align: center;">{{joinGame.gameId}}</th>
        <td style="text-align: center;">{{joinGame.type}}</td>
        <td style="text-align: center;">{{waitingPlayer(joinGame)}}</td>
        <td style="text-align: center;">
          <button class="btn btn-custom" style="width: 100%;" (click)="joinGameById(joinGame.gameId)">Join Game</button>
        </td>
      </tr>
    </app-custom-table>
  </div>
  <div *ngIf="joinGames.length == 0">
    <p>There are no available games to join.</p>
  </div>
</div>
