body {
  background-color: rgb(231, 231, 231);
}

.btn-custom {
  background-color :rgb(255, 72, 0);
  border-color: rgb(255, 140, 94);
  color: white;
}

.btn-custom:hover {
  background-color: rgb(255, 140, 94);
  border-color: rgb(255, 140, 94);
  color: white;
}

.btn-custom:active:focus {
  background-color: rgb(255, 140, 94);
  border-color: rgb(255, 140, 94);
}

h1, h2, h3, h4, h5, h6 {
  color: orangered;
}
