<div *ngIf="loading || !connected">
  <app-loading-spinner></app-loading-spinner>
  <p>{{loadingMessage}}</p>
</div>
<div class="row board-container" cdkDropListGroup *ngIf="!loading && connected">
  <div class="col-md-2 col-sm-12 takenContainer">
    <app-taken-pieces
      [player]="this.game.player1"
      [takenPieces]="this.game.takenByWhite"
      [game]="this.game">
    </app-taken-pieces>
  </div>
  <div class="col-md-8">
    <h2>{{this.gameText()}}</h2>
    <div *ngFor="let row of game.squares" class="board-row">
      <app-square
        *ngFor="let square of row"
        [square]="square"
        [game]="game"></app-square>
    </div>
    <div>
      <textarea rows="3" disabled>{{game.gameLog.join('\n')}}</textarea>
      <!-- <button (click)="test()">test</button> -->
    </div>
  </div>
  <div class="col-md-2 col-sm-12 takenContainer">
    <app-taken-pieces
      [player]=this.game.player2
      [takenPieces]="game.takenByBlack"
      [game]="game">
    </app-taken-pieces>
  </div>
</div>


