<div *ngIf="loading || !connected">
  <app-loading-spinner
    [size]="100"
    [message]="loadingMessage">
  </app-loading-spinner>
</div>
<div class="row board-container" cdkDropListGroup *ngIf="!loading && connected">
  <div class="col-md-2 col-sm-12 takenContainer">
    <app-taken-pieces
      [player]="this.game.player1"
      [takenPieces]="this.game.takenByWhite"
      [game]="this.game">
    </app-taken-pieces>
  </div>
  <div class="col-md-8">
    <h2>{{this.gameText()}}</h2>
    <div *ngFor="let row of game.squares; let i = index" class="board-row">
      <app-square
        *ngFor="let square of row; let j = index"
        [square]="square"
        [game]="game"
        [indexValue]="i + j"></app-square>
    </div>
    <!-- Area under board -->
    <div>
      <span class="mr-3">Game Status: {{game.status}}</span>
      <span
        style="width: 50px;"
        class="mr-3"
        (click)="this.soundService.mute = !this.soundService.mute">
        <fa-icon *ngIf="!this.soundService.mute" [icon]="faAudioOn"></fa-icon>
        <fa-icon *ngIf="this.soundService.mute" [icon]="faAudioOff"></fa-icon>
      </span>
      <button class="btn btn-custom" [disabled]="game.status == 'Closed'" (click)="resign()">Resign</button>
    </div>
  </div>
  <div class="col-md-2 col-sm-12 takenContainer">
    <app-taken-pieces
      [player]=this.game.player2
      [takenPieces]="game.takenByBlack"
      [game]="game">
    </app-taken-pieces>
  </div>
</div>


