<script>
  $('#btnCreate').click(function() {
    $(this).parents('.dropdown').find('button.dropdown-toggle').dropdown('toggle')
  });
</script>
<div class="dropdown offset-md-9 col-md-3">
  <button class="btn btn-custom dropdown-toggle" style="width: 100%" type="button" data-toggle="dropdown">
    Create New Game <span class="caret"></span>
  </button>
  <ul class="dropdown-menu col-md-7 p-2">

    <div class="form-group mb-0">
      <!--Prevents clicking this field from closing the dropdown-->
      <mat-form-field id="gameType" onClick="event.stopPropagation();">
        <mat-label>Game Type</mat-label>
        <mat-select [(value)]="selectedGameType" onClick="event.stopPropagation();">
          <mat-option *ngFor="let gameType of gameTypes" [value]="gameType.value" onClick="event.stopPropagation();">
            {{gameType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group mb-0">
      <mat-checkbox [(ngModel)]="singlePlayerSelected" name="singlePlayerSelect" onClick="event.stopPropagation();">Single player?</mat-checkbox>
    </div>

    <div class="form-group mb-0">
      <button
        class="btn btn-custom mr-2 mb-0"
        id="btnCreate"
        style="width: 100%;"
        (click)="newGame()"
        [disabled]="this.selectedGameType == null">Create Game</button>
    </div>
  </ul>
</div>


<h1>Your Games</h1>
<div *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
  <p>{{loadingMessage}}</p>
</div>
<div *ngIf="!loading">
<div *ngIf="playerGames.length > 0">
  <app-custom-table
    [columns]="['Game ID', 'Type', 'Status', 'Actions']">
    <tr *ngFor="let playerGame of playerGames">
      <th scope="row">{{playerGame.gameId}}</th>
      <td>{{playerGame.type}}</td>
      <td>{{gameStatus(playerGame)}}</td>
      <td class="p-1">
        <button class="btn btn-custom mb-0" style="width: 100%;" *ngIf='gameStatus(playerGame) !== "Awaiting Second Player"' [routerLink]="['..', playerGame.gameId]">Go</button>
      </td>
    </tr>
  </app-custom-table>
</div>
<p *ngIf="playerGames.length == 0">You have no active games.</p>
