<h1>Your Games</h1>
<div *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
  <p>{{loadingMessage}}</p>
</div>
<div *ngIf="!loading">
<div *ngIf="playerGames.length > 0">
  <app-custom-table
    [columns]="['Game ID', 'Type', 'Status', 'Actions']">
    <tr *ngFor="let playerGame of playerGames">
      <th scope="row">{{playerGame.gameId}}</th>
      <td>{{playerGame.type}}</td>
      <td>{{gameStatus(playerGame)}}</td>
      <td class="p-1">
        <button class="btn btn-custom mb-0" style="width: 100%;" *ngIf='gameStatus(playerGame) !== "Awaiting Second Player"' [routerLink]="['..', playerGame.gameId]">Go</button>
      </td>
    </tr>
  </app-custom-table>
</div>
<p *ngIf="playerGames.length == 0">You have no active games.</p>
<h1>Options</h1>
<button class="btn btn-custom mr-2" (click)="newShogiGame()">New Shogi Game</button>
<label><input type="checkbox" [(ngModel)]="isSinglePlayer" name="singlePlayer"> Make Single-Player game</label>
<br>
<button class="btn btn-custom" [routerLink]="['..', 'join']">Find Games</button>
</div>
